# Virtual environments
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo

# Environment files
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Datasets (too large for GitHub)
ml_model/datasets/
